h1 {
    font-size: 75px;
    text-align: center;
    margin:  25px 0px;
}


html {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/644/717/253/coffee-grounds-coffee-grounds-food-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}

.survey-form {
    text-align: center;
    color: white;
    background: rgba(39, 36, 31, 0.8);
    width: 600px;
    padding: 25px 50px;
    border-radius: 25px;
    margin: auto;
}

.name, .email, .number {
    display: block;
    width: 100%;
    padding: 5px;
}

.name-label, .email-label, .number-label {
    font-size: 25px;
    padding: 20px;
}

.dropdown {
    padding: 5px;
}

.questions {
    margin: 20px 0px 5px 0px;
    padding: 5px;
}

.comments {
    width: 600px;
    height: 60px;
}
.login{
    text-align: center;
}
.nan{
    display: none;
}
